---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $text-color: red;
// $brand-color: #F15025;

// $brand-color: #7F468E;
$brand-color: #713182;
// $secondary-color: #713182;
$secondary-color: #631D76;
// #3A5528
@import "minima";

h1, h2 {
  font-family: 'Playfair Display';
}

.site-header {
  background: $secondary-color;
  border-top: none;
  color: white;
}

.site-title, .site-title:visited {
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.site-nav {

  @include media-query($on-palm) {
    .menu-icon > svg {
      fill: $secondary-color;
    }
  }

  .page-link {
    color: #C6ACCD;
    display: inline-block;
    padding-bottom: 10px;

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }

    &.active {
      border-bottom: 2px white solid;
      color: white;
    }

    @include media-query($on-palm) {
      display: block;
      margin-left: 0px;
      min-width: 100px;
      padding: 10px;

      &:hover,
      &:focus {
        color: $secondary-color;
        text-decoration: none;
      }

      &.active {
        background: $secondary-color;
        border-bottom: none;
        color: white;
      }

      .menu-icon > svg {
        fill: $secondary-color;
      }
    }
  }
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

.svg-icon {
  fill: #{$brand-color};
}

.photo-gallery {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;

  .card {
    margin: 5px;

    &.vertical {
      flex: 0 0 31%;
    }

    &.horizontal {
      // flex: 0 0 47%;
    }

    img {
      max-width: 100%;
    }
  }
}
