---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $text-color: red;
// $brand-color: #F15025;

// $brand-color: #7F468E;
$brand-color: #713182;
// $secondary-color: #713182;
$secondary-color: #631D76;
// #3A5528

$content-width:    1000px !default;

@import "minima";
@import "simple-grid";

$grey-color-medium: lighten($grey-color, 20%);

h1, h2 {
  font-family: 'Playfair Display';
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  transition: color 0.2s;

  &:visited {
    color: $brand-color;
    transition: color 0.2s;
  }

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: none;
    transition: color 0.2s;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}

.site-header {
  background: $secondary-color;
  border-top: none;
  color: $background-color;
}

.site-title, .site-title:visited {
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
    color: $background-color;
  }
}

.site-nav {

  @include media-query($on-palm) {
    z-index: 99;

    .menu-icon > svg {
      fill: $secondary-color;
    }
  }

  .page-link {
    color: #C6ACCD;
    display: inline-block;
    padding-bottom: 10px;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $background-color;
      text-decoration: none;
      transition: color 0.2s;
    }

    &.active {
      border-bottom: 2px $background-color solid;
      color: $background-color;
    }

    @include media-query($on-palm) {
      display: block;
      margin-left: 0px;
      min-width: 100px;
      padding: 10px;

      &:hover,
      &:focus {
        color: $secondary-color;
        text-decoration: none;
      }

      &.active {
        background: $secondary-color;
        border-bottom: none;
        color: $background-color;
      }
    }
  }
}

.svg-icon {
  fill: #{$brand-color};
}

img.portrait {
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.card {
  border-radius: 5px;
  // box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 0.5rem;

  @include media-query($breakpoint-small) {
    box-sizing: border-box;
  }

  &.card-border {
    border: 2px solid $grey-color-light;
    transition: border 0.2s;

    // &:hover {
    //   border: 2px solid $grey-color-medium;
    //   transition: border 0.2s;
    // }
  }

  &.card-box-shadow {
    box-shadow: 2px 2px $grey-color-light;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 2px 2px $grey-color-medium;
      transition: box-shadow 0.2s;
    }
  }
}

.tags {
  list-style: none;
  margin-left: 0;

  & > li {
    // background: #9BC4CB;
    // color: white;
    color: $grey-color;
    display: inline-block;
    font-family: 'Source Code Pro';
    font-size: 0.8rem;
    // padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-right: 1rem;
  }
}

// .photo-gallery {
//   list-style: none;
//   margin-left: 0;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content: stretch;
//   align-items: stretch;

//   .card {
//     margin: 5px;

//     &.vertical {
//       flex: 0 0 31%;
//     }

//     &.horizontal {
//       // flex: 0 0 47%;
//     }

//     img {
//       max-width: 100%;
//     }
//   }
// }
